@charset "utf-8";
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 150px;
  z-index: 1;
}
#header .container {
  display: flex;
  justify-content: space-between;
  /* background: pink; */
  margin: 0 80px;
}
.gnb > ul {
  display: flex;
  gap: 40px;
  color: #fff;
}
.gnb > ul > li {
  position: relative;
}
.gnb .smenu {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 160px;
  transform: translateX(-50%);
  background: #fff;
  line-height: 40px;
  text-align: center;
  color: #444;
  border: 3px solid #369;
  opacity: 0;
  visibility: hidden;
}
.gnb > ul > li:hover .smenu {
  top: 120px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.gnb a {
  display: block;
}
#main_visual {
  position: relative;
}
#main_visual .slogan {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 100%;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
#main_visual .slogan h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-indent: -4px;
}
#main_visual .slogan p span {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
#main_visual .main_slider figure {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main_slider figure.item01 {
  background: url(../img/mainvisual01.jpg);
}
.main_slider figure.item02 {
  background: url(../img/mainvisual02.jpg);
}
.main_slider figure.item03 {
  background: url(../img/mainvisual03.jpg);
}
.mbtn {
  display: none;
}
@media (max-width: 767px) {
  #header {
    line-height: 50px;
  }
  #header .container {
    margin: 0;
    padding: 0 15px;
    align-items: center;
  }
  .gnb {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 90px);
    height: 100vh;
    background: #fff;
    color: #444;
    border-right: 1px solid #ddd;
    padding: 100px 15px 0 15px;
    line-height: 40px;
    z-index: 2;
    transition: left 0.5s;
  }
  .gnb.on {
    left: 0;
  }
  .gnb > ul {
    /* flex-flow: column nowrap; 축약형으로 쓸수 있음*/
    flex-direction: column;
    gap: 0;
    color: #444;
  }
  .gnb > ul > li {
    border-bottom: 1px solid #444;
  }
  .gnb .smenu,
  .gnb > ul > li:hover .smenu {
    position: static;
    width: 100%;
    transform: translate(0);
    visibility: visible;
    opacity: 1;
    border: 0;
    display: none;
    transition: none;
  }
  #main_visual .slogan {
    padding: 0 15px;
  }
  .mbtn {
    display: block;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
}
